*{
    border:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;

}
.wrapper{
    width: 450px;
    background-color:transparent;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    
    
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.one{
    position: relative;
    width: 100%;
    height: 50px;

    margin: 30px 0px;
}
.one input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.one input::placeholder{
    color:#fff;

}
.one i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.two{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    padding-bottom: 20px;

}
.two label input{
    accent-color:white ;
}
.two a{
    color: #fff;
    text-decoration: none;
}
.two a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight: 600;

    
}
.three{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;

}
.three p,a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
.three a:hover{
    text-decoration: underline;
}
